{{! views/register_success.hbs }}
<h1>Registration submitted</h1>
<p>Thank you — the registration has been submitted and emailed to {{emailTo}}. We will contact you by the details you provided.</p>
<p><a href="/">Return to site</a></p>
